{% if notebook %}
  {{ (notebook_html or "").replace("\nselect", "\n").replace("\nlabel,select,button{", "\n")|safe }}
{% else %}
  <p class="waiting">(this frame unintentionally left blank)</p> 
{% endif %}
{% if status == "running" or status == "enqueued" %}
<script type="text/javascript">
  setTimeout(function() {
    window.location.reload();
  }, 5000);
</script>
{% endif %}
<div class="top-bar lsda-{{ status }}">
  <select onchange="window.location.href = this.value;" style="native">
    {% for option in options %}
      <option value="?repo={{ from_user }}.git&sha1={{ sha1 }}&file_name={{ file_name }}&target={{ option.target }}"{% if option.selected %}
      selected="selected"
      {% endif %}>{{ option.label }}</option>
    {% endfor %}
  </select>
  <form class="status" action="/cancel?task_id={{ target }}" method="post">
    {% if (status != "success") and (status != "failure") and (status != "stored") %}
      <input type="submit" value="Cancel"/>
    {% endif %}
    {{ info or status }}
  </form>
</div>
{% if nodes %}
  <table class="nodes">
    <tr>
      <th>Flag</th>
      <th>Role</th>
      <th>CPU (%)</th>
      <th>RAM (%)</th>
      <th>SSD IO (%)</th>
      <th>SSD Usage (%)</th>
      <th colspan="2">Network (B/s) [rx/tx]</th>
      <th colspan="2">Disk (IOPS) [r/w]</th>
    </tr>
    {% for node in nodes %}
    <tr>
      <td><code>{{ node.flag }}</code></td>
      <td><code>{{ node.task_type }}</code></td>
      <td>{{ "{:.0%}".format(node.cpu_usage) }}</td>
      <td>{{ "{:.0%}".format(node.mem_usage) }}</td>
      <td>{{ "{:.0%}".format(node.spindles) }}</td>
      <td>{{ "{:.0%}".format(node.disk_usage) }}</td>
      <td>{{ "{:,.0f}".format(node.received) }}</td>
      <td>{{ "{:,.0f}".format(node.transmitted) }}</td>
      <td>{{ "{:,.0f}".format(node.read_rate) }}</td>
      <td>{{ "{:,.0f}".format(node.write_rate) }}</td>
    </tr>
    {% endfor %}
  </table>
{% endif %}
<style type="text/css">
  #notebook-container {
    width: auto;
  }
  
  body {
    padding-top: {{ offset }}px;
  }

  .waiting {
    font: 2em/3em sans-serif;
    text-align:center;
    color: #ccc;
  }

  .top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fe9;
    padding: 5px;
    font: 13px/20px sans-serif;
    height: 20px;
  }
  
  .nodes {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    width: 100%;
    border-collapse: collapse;
  }
  
  .nodes code {
    background-color: transparent;
    border: none;
    font: 12px Monaco,monospace;
  }
  
  .nodes td, .nodes th {
    font: 14px sans-serif;
    border: 1px solid #eee !important;
    padding: 5px;
  }
  
  .nodes code {
    
  }
  
  .nodes th {
    font-weight: bold;
  }
  
  .top-bar .status {
    float: right;
    font: bold 15px sans-serif;
    text-transform: uppercase;
    line-height: 20px;
    opacity: 0.5;
    padding-right: 5px;
  }
  
  .top-bar.lsda-success {
    background-color: #4c4;
    border-top: 1px solid #3a3;
  }
  
  .top-bar.lsda-failure {
    background-color: #f55;
    border-top: 1px solid #833;
  }
  
  .top-bar.lsda-stored {
    background-color: #f8f8f8;
  }
  
  .top-bar select {
    width: auto;
  }
</style>
<script type="text/javascript">
  window.onload = function() {
    window.parent.document.getElementsByTagName("iframe")[0].height = (
      document.body.scrollHeight);
  }
</script>