<!DOCTYPE html>
<html>
<head>
  <!--

Profiling information:

{{ times }}

  -->
  <title>Large Scale Data Analysis</title>
  <style type="text/css">
  table{border-collapse:collapse;margin-bottom:1em;}
  td,th{border:1px solid #ccc;padding:0.3em;}
  code{font:9pt Monaco,monospace;}
  </style>
  <script type="text/javascript">
  /*
   * This script is a bit of a hack: it converts standard <a> links
   * into <form>'s, using JavaScript, to prevent side effects occuring as
   * a result of a GET request. Generally this is pretty strange practice,
   * but it's better to do this than to allow bots to cancel all jobs :)
   */
  document.addEventListener("DOMContentLoaded", function() {
    var as = document.getElementsByTagName('a');
    for (var i = 0, l = as.length, x; i < l, x = as[i]; i++) {
      
      /* Filter out off-site links. */
      if (x.getAttribute("href")[0] != '/')
        continue;
      
      x.onclick = function() {
        /* We're using a standard HTML form here -- it's simple, and fairly
         * effective. */
        
        var body = document.getElementsByTagName('body')[0];
        
        var form = document.createElement('form'); body.appendChild(form);
        form.action = this.href;
        form.method = "POST";
        form.submit();
        return false;
      };
    }
  });
  </script>
</head>
<body>
  {% if is_admin %}
  <form method="get">
    <select name="owner" onchange="window.location.href='?owner='+this.value;">
      {% for this_owner in owners %}
      <option {% if this_owner == owner %}
        selected="selected"{% endif %}>{{ this_owner }}</option>
      {% endfor %}
    </select>
  </form>
  {% endif %}
  <table>
    <tr><th
      {% if is_admin %}
        colspan="17"
      {% else %}
        colspan="14"
      {% endif %}>Running workers</th></tr>
    <tr>
      {% if is_admin %}
      <th>Worker IP</th>
      <th>Version</th>
      <th>Queue</th>
      {% endif %}
      <th>Task ID</th>
      <th>SHA1</th>
      <th>Commit message</th>
      <th>Flag</th>
      <th>Role</th>
      <th>Owner</th>
      <th>CPU (%)</th>
      <th>RAM (%)</th>
      <th>SSD IO (%)</th>
      <th>SSD Usage (%)</th>
      <th colspan="2">Network (B/s) [rx/tx]</th>
      <th colspan="2">Disk (IOPS) [r/w]</th>
    </tr>
    {% for node in nodes %}
    <tr>
      {% if is_admin %}
      <td><a href="ssh://ubuntu@{{ node.ip_address }}">
        {{ node.ip_address }}</a></td>
      <td><code><a href="https://github.com/fatlotus/lsda-management/tree/{{ node.version }}">{{ node.version[:8] }}</a></code></td>
      <td>{{ node.queue_name }}</td>
      {% endif %}
      <td><code><a href="http://nbviewer.ipython.org/url/ml-submissions.s3-website-us-east-1.amazonaws.com/results/{{node.task_id}}.ipynb?flush_cache=true">{{ node.task_id[:8] }}</a></code></td>
      <td><code>{{ node.sha1[:8] }}</code></td>
      <td>{{ commits_index.get(node.sha1, {"message": "-"}).message }}</td>
      <td>{{ node.flag }}</td>
      <td>{{ node.task_type }}</td>
      <td><a href="?owner={{ node.owner }}">{{ node.owner }}</a></td>
      <td>{{ "{:.0%}".format(node.cpu_usage) }}</td>
      <td>{{ "{:.0%}".format(node.mem_usage) }}</td>
      <td>{{ "{:.0%}".format(node.spindles) }}</td>
      <td>{{ "{:.0%}".format(node.disk_usage) }}</td>
      <td>{{ "{:,.0f}".format(node.received) }}</td>
      <td>{{ "{:,.0f}".format(node.transmitted) }}</td>
      <td>{{ "{:,.0f}".format(node.read_rate) }}</td>
      <td>{{ "{:,.0f}".format(node.write_rate) }}</td>
      <!-- {{ node }} -->
    </tr>
    {% endfor %}
  </table>
  <table>
    <tr><th colspan="6">Recent jobs</th></tr>
    <tr>
      <th>Task ID</th>
      <th>Date</th>
      <th>SHA1</th>
      <th>File Name</th>
      <th>Commit Message</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    {% for job in jobs %}
    <tr>
      {% if job.status != "enqueued" %}
      <td><a href="http://nbviewer.ipython.org/url/ml-submissions.s3-website-us-east-1.amazonaws.com/results/{{job.task_id}}.ipynb?flush_cache=true"><code>{{ job.task_id[:8] }}</code></a></td>
      {% else %}
      <td><code>{{ job.task_id[:8] }}</code></td>
      {% endif %}
      <td>{{ job.submitted }}</td>
      <td><code>{{ job.sha1[:8] }}</code></td>
      <th><code>{{ job.file_name }}</code></th>
      <td>{{ commits_index.get(job.sha1, {"message":"-"}).message }}</td>
      <td>{{ job.status }}</td>
      <td>{% if job.status == "enqueued" or job.status == "running" %}
        <a href="/cancel?task_id={{ job.task_id }}">cancel</a>
      {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  <table>
    <tr><th colspan="5">Recent commits</th></tr>
    <tr>
      <th>SHA1</th>
      <th>Date</th>
      <th>Message</th>
      <th>Committer</th>
      <th>Actions</th>
    </tr>
    {% for commit in commits %}
    <tr>
      <td><code>{{ commit.hexsha[:8] }}</code></td>
      <td>{{ commit.date }}</td>
      <td>{{ commit.message }}</td>
      <td><a href="mailto:{{ commit.committer_email }}">
        {{ commit.committer }}</a></td>
      <td><a href="/submit?sha1={{ commit.hexsha }}">submit</a>
        {% if is_admin %}
        <a href="/submit?sha1={{ commit.hexsha }}&queue_name=prerelease">
          submit beta</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>